html {
    box-sizing: border-box
}

* {
    margin: 0;
    padding: 0;
    /* font-family: 'EB Garamond', serif; */
    font-family: 'Roboto', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit
}

body,
html {
    height: 100%;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
}

.bg-cronos-center-middle {
    width: 50%;
    height: 100vh;
    background-size: contain;
    background-position: center;
    float: left;
}

img {
    display: block;
    max-width: 100%;
}

.logo-sys-login {
    width: 12rem;
    margin: 0 auto;
}

.logo-erpp {
    width: 15rem;
    margin: auto;
    margin-top: 5.5rem;
}

@media screen and (max-width: 767.5px) {
    body::before {
        height: 52rem;
    }
    .bar-design-login {
        display: none;
    }
    .container {
        padding-top: 7rem;
    }
}

@media screen and (max-width: 314.5px) {
    body::before {
        height: 56rem;
    }
    .container {
        padding-top: 12rem;
    }
}

@media screen and (min-width: 768px) and (max-height: 500px) {
    body::before {
        height: 43rem;
    }
    .container {
        padding-top: 13rem;
    }
}

@media screen and (max-width: 767.5px) and (max-height: 500px) {
    body::before {
        height: 56rem;
    }
    .container {
        padding-top: 23rem;
    }
}

@media screen and (max-width: 314.5px) and (max-height: 500px) {
    body::before {
        height: 60rem;
    }
    .container {
        padding-top: 28rem;
    }
}