<div class="sidebar">
    <div class="logo-sys">
        <div style="margin: 0.2rem 1rem 0 0.85rem;">
            <img src="<%= base_url %>img/logo_img.svg" width="50" style="max-width: none;">
        </div>
        <span class="logo_name">SERO&nbsp;CRONOS</span>
    </div>

    <ul class="nav-links secciones-sidebar"></ul>
</div>